* {
  font-family: "NotoSans Nerd Font", "Noto Sans", "Noto Sans CJK JP", sans-serif;
  font-size: 16px;
}

window#waybar {
  color: white;
  background-color: #211f1f;
  /* transition-property: background-color; */
  /* transition-duration: .5s; */
}

/* window#waybar.hidden { */
/*     opacity: 0.2; */
/* } */

tooltip {
  color: white;
  background-color: #211f1f;
}

#workspaces button {
  margin: 0 5px;
  padding: 0 0;
  color: grey;
  background-color: transparent;
  border: none;
}

#workspaces button.focused {
  color: white;
  font-weight: bold;
}

#workspaces button.urgent {
  color: white;
}

#workspaces button:hover {
  box-shadow: none;
}

#window {
  padding-left: 15px;
  padding-right: 10px;
  background-color: transparent;
}

#clock,
#idle_inhibitor,
#pulseaudio,
/* #network, */
/* #cpu, */
/* #memory, */
#backlight,
#battery {
  padding: 0 10px;
  background-color: transparent;
}

#tray {
  padding: 0 5px 0 15px;
  background-color: transparent;
}

#custom-power {
  padding: 0 10px 0 10px;
  background-color: transparent;
}
